<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/auth.css" />

    <title>OSF Academy Backend</title>
  </head>

  <body>
    <div class="container">
      <%- include("../partials/nav.ejs") %>

      <div class="col-6 mx-auto">
        <div class="mt-5 mb-5">
          <form action="/auth/signin">
            <h2>Sign in</h2>
            <label for="email">Email</label>
            <input type="email" name="email" required/>
            <label for="password">Password</label>
            <input type="password" name="password" required/>
            <button>sign in</button>
            <div class="text-center">
              
              <div class="signin error"></div>
            </div>
            
          </form>
          
        </div>
      </div>

      <%- include('../partials/footer.ejs') %>
    </div>

    <%- include('../partials/bottom.ejs') %>

    <script>
      const form = document.querySelector("form");
      const errorEl = document.querySelector(".signin.error");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        errorEl.textContent = ''

        // get values
        const email = form.email.value;
        const password = form.password.value;


        try {
          const res = await fetch("/auth/signin", {
            method: "POST",
            body: JSON.stringify({ email, password }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();

          if(data.error){
            errorEl.textContent = data.error
          }

          if (data.user) {
            location.assign("/");
          }
        } catch (err) {
          // fetch api never throws an error
        }
      });
    </script>

