<ul class="breadcrumb mt-2 mb-5" style="background: none;">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item"><a href="#">Subcategory Name</a></li>
  <li class="breadcrumb-item"><a href="#">Product Name</a></li>
</ul>