<ul class="breadcrumb mt-2 mb-5">
    <li class="breadcrumb-item"><a href="/">HOME</a></li>
    <!-- Check whether breadcrumbobjects are passed or not -->
    <% if(breadcrumbObjects) {%>
      <!-- Traverse breadcrumb objects one by one -->
      <% breadcrumbObjects.forEach( (obj,index)=> { %>
        <% if( !(breadcrumbObjects.length - 1 === index) ) { %>
          <!-- If breadcrumb path is not last path render with anchor tag -->
          <li class="breadcrumb-item"><a href="<%= obj.href %>"><%= obj.path.toUpperCase() %></a></li>
        <% } else { %> <!-- Otherwise show as normal text-->
        <li class="breadcrumb-item"><%= obj.path.toUpperCase() %></li>
        <% } %>
      <% }) %>

    <% } %>

</ul>