<footer class="page-footer font-small purple pt-4 mt-5">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://osf.digital/"> &copy; Copyright 2022 OSF Digital</a>
  </div>
  <!-- Copyright -->

</footer>