<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="/">ALIBAZON</a>
  <div class="row">
    <a class="nav-link" href="/category/mens/parent-category-selection">Mens</a>
    <a class="nav-link" href="/category/womens/parent-category-selection">Womens</a>
    <button class="btn btn-dark my-2 my-sm-0 mr-4" type="submit">
      Sign In
    </button>
      <button class="btn btn-dark my-2 my-sm-0 mr-4" type="submit">
        Sign Up
      </button>
  </div>

</nav>
