<div class="mt-5">
    <div class="card mb-3">
        <img class="card-img-top" src="https://don16obqbay2c.cloudfront.net/wp-content/uploads/Storefront_Images_C-1481632060.png" alt="A category image">
        <div class="card-body">

          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi enim nunc faucibus a. Elementum curabitur vitae nunc sed velit dignissim. Amet luctus venenatis lectus magna fringilla. Mauris augue neque gravida in fermentum et sollicitudin. Purus sit amet luctus venenatis lectus magna fringilla urna porttitor. Vivamus at augue eget arcu dictum varius duis at consectetur. Elit ut aliquam purus sit amet luctus venenatis lectus. Egestas dui id ornare arcu odio ut sem. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna.
            </p>
          <a href="#" class="btn btn-primary">View Products</a>
        </div>
      </div>
        <!-- Thick Divider-->
        <div class="divider py-2 bg-dark"></div>
      <div class="card mb-3 mt-5">
        <img class="card-img-top" src="https://don16obqbay2c.cloudfront.net/wp-content/uploads/Storefront_Images_C-1481632060.png" alt="A category image">
        <div class="card-body">

          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi enim nunc faucibus a. Elementum curabitur vitae nunc sed velit dignissim. Amet luctus venenatis lectus magna fringilla. Mauris augue neque gravida in fermentum et sollicitudin. Purus sit amet luctus venenatis lectus magna fringilla urna porttitor. Vivamus at augue eget arcu dictum varius duis at consectetur. Elit ut aliquam purus sit amet luctus venenatis lectus. Egestas dui id ornare arcu odio ut sem. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna.
            </p>
          <a href="#" class="btn btn-primary">View Products</a>
        </div>
      </div>
      
       <!-- Thick Divider-->
      <div class="divider py-2 bg-dark"></div>
</div>