<div class="row d-flex justify-content-center align-items-center mt-2">
  <div class="col-md-8">
    <div class="search">
      <form action="/search">
        <input
          type="text"
          name="productname"
          class="form-control"
          placeholder="Search a product"
        />
          <button type="submit" value="Submit" class="btn btn-primary">
            Search
          </button>

      </form>
    </div>
  </div>
</div>
