<div class="container h-100">
    <div class="row h-100 justify-content-center">
      <ul class="pagination">
        <!-- Show prev page link if there is a prev page-->
        <% if( paginationObj.isTherePrevPage ) { %>
          <li class="page-item">
            <a id="page-prev" class="page-link" href="<%= paginationObj.prevPageHref %>">Previous</a>
          </li>
        <% } %>
        <li class="page-item">
          <!-- Show current page number -->
          <a class="page-link" href=""><%= paginationObj.pageNo %></a>
        </li>
        <!-- Show next page link if there is a next page-->
        <% if( paginationObj.isThereNextPage ) { %>
          <li class="page-item">
            <a id="page-next" class="page-link" href="<%= paginationObj.nextPageHref %>">Next</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
